/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar for Chrome, Safari and Opera */
#chips-scroll-box::-webkit-scrollbar {
  display: none;
}
#chips-scroll-box {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
